{
	"root": true,
	"ignorePatterns": [
		"*.min.js"
	],
	"overrides": [
		{
			"files": [
				"*.js"
			],
			"extends": [
				"plugin:@wordpress/eslint-plugin/esnext"
			],
			"env": {
				"browser": true
			}
		},
		{
			"files": [
				"*.php"
			],
			"parser": "@angular-eslint/template-parser",
			"plugins": [
				"php-markup",
				"tailwindcss"
			],
			"extends": [
				"plugin:tailwindcss/recommended"
			],
			"rules": {
				"tailwindcss/migration-from-tailwind-2": "off"
			},
			"settings": {
				"tailwindcss": {
					"config": "./tailwind/tailwind.config.js",
					"cssFiles": [
						"./theme/**/*.css"
					],
					"officialSorting": true
				}
			}
		}
	]
}
