{
	"root": true,
	"ignorePatterns": [
		"*.min.js"
	],
	"overrides": [
		{
			"files": [
				"*.js"
			],
			"extends": [
				"eslint:recommended",
				"prettier"
			],
			"env": {
				"browser": true
			},
			"parserOptions": {
				"ecmaVersion": "latest"
			}
		},
		{
			"files": [
				"*.php"
			],
			"parser": "@angular-eslint/template-parser",
			"plugins": [
				"php-markup",
				"tailwindcss"
			],
			"extends": [
				"plugin:tailwindcss/recommended"
			],
			"rules": {
				"tailwindcss/migration-from-tailwind-2": "off",
				"tailwindcss/no-custom-classname": [
					"warn",
					{
						"config": "./tailwind/tailwind.config.js",
						"whitelist": [
							"(page|entry|comment|wp-block|wp-element)\\-([-a-z]*)",
							"vcard"
						]
					}
				]
			},
			"settings": {
				"tailwindcss": {
					"config": "./tailwind/tailwind.config.js",
					"cssFiles": [
						"./theme/**/*.css"
					]
				}
			}
		}
	]
}
